<div class="nav">
  <a class="logo">AppleForum</a>
  <a href="/posts/write">글쓰기</a>
  <a href="/posts">리스트</a>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/users/mypage">마이페이지</a>
  <a href="/users/signup">회원가입</a>
  <a href="/users/login">로그인</a>
  <a href="/chat/myChatList">내가속한 채팅방</a>
</div> 